In [220]:
import pandas as pd
import numpy as np
from scipy import spatial
from sklearn.metrics.pairwise import cosine_similarity
#result = 1 - spatial.distance.cosine(List1, List2)
#load datasets
movies =pd.read_csv("/content/movies.csv")
ratings=pd.read_csv("/content/ratings.csv")
#drop unnecessary columns
ratings.drop("timestamp",inplace=True, axis=1)
movies.drop("genres",inplace=True, axis=1)

#ItemBasesdTable=pd.DataFrame(np.zeros((200, 610)))
#ItemBasesdTable
#DFSmall=ratings.loc[ratings['movieId'] == 1]
#DFSmall.iat[0,0]
#for i in range(0,200):
 # DFSmall=ratings.loc[ratings['movieId'] == i+1]
 # NumberofRecords=len(DFSmall.index)
  #for j in range(0,NumberofRecords):
   # UserId=DFSmall.iat[j,0]
    #ItemBasesdTable.at[i, j]=UserId

#making item based table
ItemBasesdTable=ratings.pivot(index='movieId', columns='userId', values='rating')
#ItemBasesdTable=ratings.pivot(index='userId', columns='title', values='rating')
ItemBasesdTable=ItemBasesdTable.fillna(0)
#200 film 200 user
Table200= ItemBasesdTable.iloc[:200,:200]
#calculate similarity matirx
similarities = cosine_similarity(Table200)
similarities1 = cosine_similarity(Table200)

similarities1=pd.DataFrame(similarities1)

ToyStory=similarities[:, 0]

ToyStory.sort()
#getting column then sorting it and getting values from lasr to get highest sim
FilmValuesList=[]
for i in range(199,188,-1):
  FilmValuesList.append(ToyStory[i])
#deleting first sim which equals 1
del FilmValuesList[0]
FilmIndexesInSim=[]
#ToyStory1=similarities[:, 0]

#getting indecies in sim matrix
for i in range(0,10):
  Postions=[]
  Postions=np.where(similarities1 == FilmValuesList[i])
  FilmIndexesInSim.append(Postions[0])
FilmsIndexesInTable200=[]
#getting indecies in table
for i in range(0,10):
  FilmsIndexesInTable200.append(FilmIndexesInSim[i][1])

FilmsNamesID=Table200.index.values[FilmsIndexesInTable200]
FilmNames=[]
#getting movie names
for i in FilmsNamesID:
  FilmNames.append(movies[movies['movieId']==i]['title'])
 
 # FilmsNamesID.append(x)



#repeat for waitinf film
ItemBasesdTable=ratings.pivot(index='movieId', columns='userId', values='rating')
#ItemBasesdTable=ratings.pivot(index='userId', columns='title', values='rating')
ItemBasesdTable=ItemBasesdTable.fillna(0)
#200 film 200 user
Table200= ItemBasesdTable.iloc[:200,:200]
#calculate similarity matirx
similarities = cosine_similarity(Table200)
similarities1 = cosine_similarity(Table200)

similarities1=pd.DataFrame(similarities1)


Waiting=similarities[:, 3]

Waiting.sort()
#print(Waiting)
#similarity values of films
WaitingFilmValuesList=[]
for i in range(199,0,-1):
 if Waiting[i] not in WaitingFilmValuesList:
  WaitingFilmValuesList.append(Waiting[i])
print(WaitingFilmValuesList)
del WaitingFilmValuesList[0]
#del FilmValuesList1[11:199]
#print(len(WaitingFilmValuesList))
WaitingFilmIndex=[]
df=similarities1.nlargest(11, 3)
#for i in range(0,10):
  #Postions=[]
  #Postions=np.where(similarities1 == WaitingFilmValuesList[i])
 # WaitingFilmIndex.append(Postions[0])
#print(WaitingFilmIndex)
WaitingFilmsIndexesInTable200=df.index
#for i in range(0,10):
 # WaitingFilmsIndexesInTable200.append(WaitingFilmIndex[i][1])
print(WaitingFilmsIndexesInTable200)
WaitingFilmsNamesID=Table200.index.values[WaitingFilmsIndexesInTable200]
WaitingFilmNames=[]
for i in WaitingFilmsNamesID:
  WaitingFilmNames.append(movies[movies['movieId']==i]['title'])
#print(similarities)
#print(ToyStory)
#print(FilmValuesList)
#FilmsNames
#movies
#FilmsNames1
#similarities1
#Table200.index.values[FilmsIndexesInTable200]
#print(FilmsIndexesInTable200)
#FilmsIndexesInTable200
#y=FilmsNamesID[0]
#y.iloc[:,0]
#type(y)
#y.columns()
#Table200
print(FilmNames)
print(WaitingFilmNames)
#df.index

[1.0, 0.6002450479987809, 0.5222329678670935, 0.5, 0.4949747468305833, 0.4923659639173309, 0.4472135954999579, 0.41602514716892186, 0.4146442144313646, 0.4024922359499621, 0.4, 0.397778642087865, 0.3920461576821289, 0.38784288421937163, 0.3822764257713037, 0.36940567723168816, 0.35815115706765555, 0.35355339059327373, 0.34570535882735637, 0.345398474293878, 0.3441236008058426, 0.34299717028501764, 0.34050261230349943, 0.3292763870490873, 0.31980107453341566, 0.3086066999241838, 0.3061862178478973, 0.2976137753128688, 0.2891776156271279, 0.2853183328489956, 0.282842712474619, 0.2803860770460222, 0.27937211830783126, 0.2785430072655778, 0.2683281572999747, 0.25766265056033233, 0.2575131013123024, 0.25724787771376323, 0.25607375986579195, 0.253546276418555, 0.250569631292391, 0.24019223070763068, 0.23925944182183168, 0.2341464528954235, 0.23408229439226114, 0.228747855498907, 0.2260933675776886, 0.22360679774997896, 0.22140372138502384, 0.2191986497404764, 0.21230903232948226, 0.211999576001272, 0.20683507599800766, 0.20454545454545453, 0.1977872705736595, 0.19576351369295858, 0.19528336647123581, 0.19506857866021762, 0.19364916731037085, 0.18325416653445784, 0.18090680674665816, 0.17868542247296582, 0.17734310717834897, 0.17660431427533918, 0.175919798853417, 0.1752618713510958, 0.17407765595569785, 0.1694854394428143, 0.1638463841038081, 0.1636634176769943, 0.16178958285580192, 0.15075567228888181, 0.15027827244457206, 0.14948701855038718, 0.14902521016062228, 0.14684461964287046, 0.14269544824634822, 0.13608276348795434, 0.1359067021732335, 0.13438262813667917, 0.13296449906290672, 0.13235651920167169, 0.1297956925209962, 0.12903971808580209, 0.12803687993289598, 0.12691486339407046, 0.12521758066945235, 0.11739907202922485, 0.11274690420042432, 0.10872134550890704, 0.10406884697039404, 0.10293700253099575, 0.10082253837294725, 0.08195375470622296, 0.08183170883849715, 0.07381017469576844, 0.07202305106510155, 0.0]
Int64Index([3, 100, 153, 26, 50, 151, 160, 169, 177, 180, 182], dtype='int64')
[97    Braveheart (1995)
Name: title, dtype: object, 123    Apollo 13 (1995)
Name: title, dtype: object, 46    Usual Suspects, The (1995)
Name: title, dtype: object, 92    Happy Gilmore (1996)
Name: title, dtype: object, 138    Die Hard: With a Vengeance (1995)
Name: title, dtype: object, 43    Seven (a.k.a. Se7en) (1995)
Name: title, dtype: object, 32    Babe (1995)
Name: title, dtype: object, 176    Waterworld (1995)
Name: title, dtype: object, 126    Batman Forever (1995)
Name: title, dtype: object, 98    Taxi Driver (1976)
Name: title, dtype: object]
[3    Waiting to Exhale (1995)
Name: title, dtype: object, 100    Before and After (1996)
Name: title, dtype: object, 153    Mighty Morphin Power Rangers: The Movie (1995)
Name: title, dtype: object, 26    Now and Then (1995)
Name: title, dtype: object, 50    Georgia (1995)
Name: title, dtype: object, 151    Mad Love (1995)
Name: title, dtype: object, 160    Reckless (1995)
Name: title, dtype: object, 169    Three Wishes (1995)
Name: title, dtype: object, 177    White Man's Burden (1995)
Name: title, dtype: object, 180    Bushwhacked (1995)
Name: title, dtype: object, 182    Before the Rain (Pred dozhdot) (1994)
Name: title, dtype: object]

In [ ]:
ToyStory=similarities[:, 0]

ToyStory.sort()
#similarity values of films
FilmValuesList=[]
for i in range(199,188,-1):
  FilmValuesList.append(ToyStory[i])
del FilmValuesList[0]
FilmIndexesInSim=[]
ToyStory1=similarities[:, 0]
for i in range(0,10):
  Postions=[]
  Postions=np.where(similarities1 == FilmValuesList[i])
  FilmIndexesInSim.append(Postions[0])
FilmsIndexesInTable200=[]
for i in range(0,10):
  FilmsIndexesInTable200.append(FilmIndexesInSim[i][1])

FilmsNamesID=Table200.index.values[FilmsIndexesInTable200]
FilmNames=[]
for i in FilmsNamesID:
  FilmNames.append(movies[movies['movieId']==i]['title'])

In [188]:
Waiting=similarities[:, 3]

Waiting.sort()
#similarity values of films
WaitingFilmValuesList=[]
for i in range(199,0,-1):
  if Waiting[i] not in WaitingFilmValuesList:
   WaitingFilmValuesList.append(Waiting[i])
del WaitingFilmValuesList[0]
del WaitingFilmValuesList[11:199]
print(len(WaitingFilmValuesList))
print(WaitingFilmValuesList)

FilmIndexes1=[]
for i in range(0,10):
  Postions=[]
  Postions=np.where(similarities1 == WaitingFilmValuesList[i])
  FilmIndexes1.append(Postions[0])
WaitingFilmsIndexesInTable200=[]
for i in range(0,10):
  WaitingFilmsIndexesInTable200.append(FilmIndexes1[i][1])

WaitingFilmsNamesID=Table200.index.values[WaitingFilmsIndexesInTable200]
WaitingFilmNames=[]
for i in WaitingFilmsNamesID:
  WaitingFilmNames.append(movies[movies['movieId']==i]['title'])

similarities1

11
[0.6002450479987809, 0.5222329678670935, 0.5, 0.4949747468305833, 0.4923659639173309, 0.4472135954999579, 0.41602514716892186, 0.4146442144313646, 0.4024922359499621, 0.4, 0.397778642087865]

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,1.000000,0.364634,0.284825,0.000000,0.279775,0.327928,0.270701,0.128765,0.195017,0.352899,...,0.363093,0.211791,0.160623,0.088024,0.107733,0.104516,0.140704,0.360625,0.087884,0.000000
1,0.364634,1.000000,0.278446,0.102937,0.277072,0.278936,0.240488,0.130496,0.000000,0.342590,...,0.202565,0.085855,0.132766,0.114888,0.000000,0.000000,0.191316,0.352531,0.000000,0.000000
2,0.284825,0.278446,1.000000,0.150278,0.391915,0.341700,0.592157,0.406427,0.288534,0.231410,...,0.284289,0.200545,0.347200,0.197325,0.000000,0.000000,0.244260,0.485324,0.000000,0.000000
3,0.000000,0.102937,0.150278,1.000000,0.239259,0.176604,0.297614,0.253546,0.000000,0.129040,...,0.108721,0.382276,0.280386,0.000000,0.000000,0.000000,0.369406,0.132357,0.257513,0.000000
4,0.279775,0.277072,0.391915,0.239259,1.000000,0.256166,0.539392,0.404422,0.000000,0.275293,...,0.150873,0.295177,0.380707,0.070687,0.000000,0.000000,0.287247,0.296883,0.092419,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,0.104516,0.000000,0.000000,0.000000,0.000000,0.242299,0.091873,0.000000,0.000000,0.000000,...,0.253580,0.238400,0.000000,0.000000,0.000000,1.000000,0.316763,0.000000,0.000000,0.000000
196,0.140704,0.191316,0.244260,0.369406,0.287247,0.305806,0.346312,0.234154,0.000000,0.154921,...,0.325314,0.481415,0.258941,0.109137,0.326512,0.316763,1.000000,0.142605,0.256842,0.142543
197,0.360625,0.352531,0.485324,0.132357,0.296883,0.295106,0.357803,0.178979,0.079414,0.411800,...,0.335287,0.142591,0.487390,0.301241,0.187180,0.000000,0.142605,1.000000,0.000000,0.068097
198,0.087884,0.000000,0.000000,0.257513,0.092419,0.090956,0.116492,0.000000,0.000000,0.066459,...,0.183661,0.143187,0.086644,0.047338,0.000000,0.000000,0.256842,0.000000,1.000000,0.000000
199,0.000000,0.000000,0.000000,0.000000,0.000000,0.159009,0.000000,0.000000,0.000000,0.088521,...,0.186456,0.000000,0.000000,0.000000,0.000000,0.000000,0.142543,0.068097,0.000000,1.000000

Warning: Total number of columns (200) exceeds max_columns (20) limiting to first (20) columns.